.gameTitle {
  text-align: center;
}

.round {
  text-align: center;
}

.gameSpaceScreen {
  height: 500px;
  display: flex;
  justify-content: space-evenly;
  background-image: url("space.gif");
}

.scors {
  display: flex;
  justify-content: space-around;
}

footer {
  text-align: center;
}

.button {
  margin-top: 50vh;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.gameUpdate {
  height: 200px;
  width: 300px;
  background-color: aqua;
  text-align: center;
}
/* -----------------------------------------------pop UP---------------------------------------------------------*/
